@page "/drink/{DrinkId:int}"

@using DrinksUI.Data.Services
@using DrinksUI.Web.Entities

@inject DrinkService DrinkService

<h3>@_drink.Name</h3>

<p>@_drink.Description</p>

<h5>Ingredients:</h5>

<EditForm Model=@_drink OnSubmit="@FormSubmitted">
    @foreach (var addie in _addies.OrderBy(x => x.Ingredient.AddieType))
    {
        <div class="row">

            @if (addie.IsLiquid)
            {
                <div class="col-sm-2">
                    <InputNumber @bind-Value=addie.Amount class="form-control" id="@addie.Name" />
                </div>
            }
            else
            {
                <div class="col-sm-5">
                    @addie.Display
                </div>
            }

            @if (addie.IsLiquid)
            {
                <div class="col-sm-5">
                    <label for=@addie.Name>@addie.UnitAndName</label>
                </div>
            }
        </div><br>
    }
    <input type="submit" class="btn btn-primary" value="Pour" disabled="@_unAvailable"/>
</EditForm>

@code {
    [Parameter]
    public int DrinkId { get; set; }

    private Drink _drink;
    private Addie[] _addies;
    private bool _unAvailable;

    protected override async Task OnInitializedAsync()
    {

        var response = await DrinkService.GetDrink(DrinkId);

        _unAvailable = !response.Item2;
        _drink = new Drink(response.Item1);
        _addies = _drink.Addies.Select(x => new Addie(x)).ToArray();
    }

    void FormSubmitted(EditContext editContext)
    {
        Console.WriteLine(_drink.Name);
    }
}
