@page "/drink/{DrinkId:int}"

@using DrinksUI.Data.Types
@using DrinksUI.Data.Servies;
@using DrinksUI.Dtos;

@inject DrinkService DrinkService

<h3>@_drink.Name</h3>

@_drink.description

<br>
<br>
<h5>Ingredients:</h5>

<EditForm Model=@_drink>


        @foreach (var addi in _drink.Addis.OrderBy(x => x.Ingredient.AddiType))
        {
            <div class="row"> 
                
                    @if (addi.IsLiquid)
                    {
                        <div class="col-sm-2">  
                            <InputNumber @bind-Value=addi.Amount class="form-control" id="@addi.Name"/>
                        </div>
                    }else
                    {
                        <div class="col-sm-5"> 
                            @addi.Display
                        </div>
                    }
                
                    @if (addi.IsLiquid)
                    {
                        <div class="col-sm-5"> 
                            <label for=@addi.Name>@addi.UnitAndName</label>
                        </div>
                    } 
            </div><br>
        }
    <input type="submit" class="btn btn-primary" value="Pour"/>
</EditForm>

@code {
    [Parameter]
    public int DrinkId { get; set; }
    private Drink _drink { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _drink = await DrinkService.GetDrink(DrinkId);
    }

    void FormSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();
        Console.WriteLine(_drink.Name);
    }
}
