@page "/drink/{DrinkId:int}"

@using DrinksUI.Data.Services
@using DrinksUI.Dtos.Interfaces
@using DrinksUI.Web.Entities
@using System.Linq;

@inject DrinkService DrinkService
@inject MachineSlotService MachineSlotService

<h3>@_drink.Name</h3>

<p>@_drink.Description</p>

<p>@_proof.ToString("F1") %</p>

<h5>Ingredients:</h5>

<EditForm Model=@_drink OnSubmit="@FormSubmitted">
    @foreach (var addie in _addies.OrderBy(x => x.Ingredient.AddieType))
    {
        <div class="row">

            @if (addie.IsLiquid)
            {
                <div class="col-sm-2">
                    <InputNumber @bind-Value=addie.Amount class="form-control" id="@addie.Name" />
                </div>
            }
            else
            {
                <div class="col-sm-5">
                    @addie.Display
                </div>
            }

            @if (addie.IsLiquid)
            {
                <div class="col-sm-5">
                    <label for=@addie.Name>@addie.UnitAndName</label>
                </div>
            }
        </div><br>
    }
    <input type="submit" class="btn btn-primary" value="Pour" disabled="@_unAvailable" />
</EditForm>

@code {
    [Parameter]
    public int DrinkId { get; set; }

    private Drink _drink;
    private Addie[] _addies;
    private bool _unAvailable;

    private double _proof => (_addies.Where(x => x.IsLiquid).Select(x =>(double) (x.Amount * _machineSlots.First(y => y.Ingredient.Id == x.Ingredient.Id).Proof)/100).Sum() /  _addies.Where(x=>x.IsLiquid).Sum(x => x.Amount))*100;

    private IMachineSlot[] _machineSlots;

    protected override async Task OnInitializedAsync()
    {
        var response = await DrinkService.GetDrink(DrinkId);

        _unAvailable = !response.Item2;
        _drink = new Drink(response.Item1);
        _addies = _drink.Addies.Select(x => new Addie(x)).ToArray();

        _machineSlots =(await MachineSlotService.GetSlots()).ToArray();
    }

    void FormSubmitted(EditContext editContext)
    {
        Console.WriteLine(_drink.Name);
    }
}
